@model PagedList.IPagedList<WeatherApplication.Models.Classes.Download>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index","Downloads",FormMethod.Get))
{
    <p>
        Find By Head:@Html.TextBox("search",ViewBag.filter as string)
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Head","Index",new {sort=ViewBag.Head})
        </th>
        <th>
            Description
        </th>
        <th>
           Image1
        </th>
        <th>
           Image2
        </th>
        <th>
            Image3
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DownloadID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DownloadID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DownloadID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Of @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, sort = ViewBag.sort, filter = ViewBag.filter }));