@model PagedList.IPagedList<WeatherApplication.Models.Classes.Application>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index","Applications",FormMethod.Get))
{
        <p>
            Find By Head And Text1:@Html.TextBox("search",ViewBag.filter as string)
            <input type="submit" value="Search" class="btn btn-primary"/>
        </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Head", "Index", new {sort=ViewBag.Head})
        </th>
        <th>
            Degree
        </th>
        <th>
            Text1
        </th>
        <th>
            Text2
        </th>
        <th>
            Text3
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Of @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, sort = ViewBag.sort, filter = ViewBag.filter }));




